{% extends "base.html" %}

{% block content %}

<h2>{{post.title}}</h2>
<h3>de la categorie : {{post.category}}</h3>

<h4 id="plop">{{post.body | safe}}</h4>
{% if request.user.is_authenticated and perms.post.change_post %}
<p><a href="{% url "post-edit" post.slug %}">Editer le post</a></p>
{% endif %}

{% if request.user.is_superuser %}
<p><a href="{% url "post-delete" post.slug %}">Supprimer ce post</a></p>
{%endif%}

<p class="liens"><a href="{% url "home" %}">Retour à la page d'accueil</a></p>
<p class="liens"><a href="{% url "post-list" %}">Retour à la liste des p'tits posts</a></p>
{% endblock content %}
